body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    margin: 0;
    padding: 0 20px;
    text-align: center;
    color: #f1f5f9;
}
@media (max-width: 768px) {
    body img {
        position: static;
        display: block;
        margin: 0px auto;
        width: 450px;
        height: 500px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }
}